.navigationWrapper {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;

  padding: 0 20px;
  position: relative;

  .logo {
    height: 60px;
    width: 60px;
    margin-left: 80px;
    background-image: url("/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menuToggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    margin-right: 80px;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 80px;

    a {
      text-decoration: none;
      color: black;
      font-size: large;

      &:hover {
        color: rgb(72, 113, 72);
        cursor: pointer;
      }
    }

    .activeLink {
      color: rgb(72, 113, 72);
      font-weight: bold;
      border-bottom: 2px solid #004080;
    }
  }

  @media (max-width: 660px) {
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;

    .menuToggle {
      display: block;
      margin-right: 50px !important;
    }
    .logo {
      margin: 10px;
    }

    .navigation {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: lightblue;
      margin: 10px 0;

      &.open {
        display: flex;
      }

      a {
        margin: 10px 0;
      }
    }
  }
}
